{% load static %}
<html>
<head>
	<title>Vastraa Boutique</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <img style="height:50px; width:50px; border-radius:50%;padding:5px; %" src={% static 'images/logo1.jpg' %} >
	  <a class="navbar-brand" href="{% url 'about' %}">About</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'store' %}"> Home <span class="sr-only">(current)</span></a>
	      </li>
	 
	    </ul>
	    {% comment %} <div class="form-inline my-2 my-lg-0">
	     	<a href="{% url 'about' %}"class="btn btn-warning">About</a> {% endcomment %}
	     	
	     	{% comment %} <a href="{% url 'cart' %}">
	    		<img  id="cart-icon" src="{% static 'images/cart.png' %}">
	    	</a>
	    	<p id="cart-total">{{cartItems}}</p> {% endcomment %}
	    </div>
	  </div>
	</nav>
<h1> Content to be updated....</h1>